.campoBusca_container {
  display: flex;
  width: 100%;
  max-width: 1024px;
  position: relative;
}
.campoBusca_container img {
  width: 30px;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  height: auto;
  pointer-events: none;
}
.campoBusca_container input {
  font-size: 14px;
  width: 100%;
  padding: 10px 40px 10px 50px;
  border: 2px solid #ccc;
  border-radius: 20px;
  outline: none;
}
.campoBusca_container input:focus {
  border-color: #022144;
}
