.container_categoria {
  display: flex;
  gap: 20px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.2s;
}

.button img {
  width: 20px;
  height: auto;
}
.acenderbtn {
  background-color: var(--goldenrod);
  display: flex;
  align-items: center;
  width: 150px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.2s;
}
.acenderbtn img {
  width: 20px;
  height: auto;
}
@media screen and (max-width: 768px) {
  .container_categoria {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
  }
  .button {
    width: 20%;
  }
  .button:nth-child(5) {
    width: 30%;
  }
  .button:nth-child(6) {
    width: 30%;
  }
}

@media screen and (max-width: 375px) {
  .container_categoria {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
  }

  .button {
    margin-bottom: 10px;
    width: 40%;
  }
  .button:nth-child(5) {
    width: 40%;
  }
  .button:nth-child(6) {
    width: 40%;
  }
}
