@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}

:root {
  --goldenrod: #daa520; /* Cor de destaque ou acento */
  --light-gray: #f3f3f3; /* Fundo claro ou áreas neutras */
  --black: #000000; /* Texto principal ou elementos escuros */
  --white: #fff; /* Fundo ou texto claro */
}
button {
  cursor: pointer;
  border: unset;
}
.produto_wrapper {
  flex-basis: calc(33.333% - 1rem);
  flex-grow: 1;

  min-width: 280px;
  background: red;
  /* A transição suave fica aqui */
  transition: flex-basis 0.4s ease-in-out;
}

/* A classe para quando só houver um resultado */
.produto_wrapper .full_width {
  flex-basis: 100%;
  min-width: auto; /* Reseta o min-width para permitir que ocupe 100% */
  background: red;
}
