@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

.main {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.main h2 {
  color: var(--goldenrod);
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 2rem;
}
